* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--surface-variant);
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--surface-container);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
